@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

#stripes {
    background-color: white;
    color: black;
    text-decoration: none;
}

.w3-sidebar {
    background-color: white;
    color: black;
    font-family: 'Rubik', sans-serif;
}
